<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Constants.wxi ?>

  <Product Id="*" Name="Processor Counter Monitor (PCM) $(var.PcmVersion)" Language="1033" Version="$(var.PackageVersion)" Manufacturer="Silvenga"
           UpgradeCode="cdac71a2-618c-4449-be28-562424b59a92">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Pcm" Level="1">
      <ComponentGroupRef Id="C.WinRing0" />
      <ComponentGroupRef Id="C.WinPMem" />
      <ComponentGroupRef Id="C.Pcm" />
    </Feature>

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.PcmVendorDir)\license-combined.rtf" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Processor Counter Monitor" />
      </Directory>
    </Directory>
  </Fragment>
</Wix>